<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
</head>
<body>
    <h1>all users</h1>
    <a href="user/new">add new user</a>
    <% for(let user of users) { %>
        <div>
            <h3><%= user.username %></h3>
            <p><%= user.email %></p>
            <p><%= user.id %></p>
            <a href="user/<%= user.id %>">Show User</a>
            <a href="user/<%= user.id %>/edit">Edit Username</a>
            <form action="/user/<%= user.id %>?_method=DELETE" method="post">
                <button>Delete User</button>
            </form>
        </div>
    <% } %>
</body>
</html>