<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
</head>
<body>
    <div class="body">
        <div class="body__header">
            <h1>Quora</h1>
        </div>
        <hr>
        <a href="/posts">Home</a>
        <div class="posts__container">
            <h2 class="posts__heading">@<%= post.username %> :-</h2>
            
            <div class="post">
                <p>id : <%= post.id %></p>
                <form method="post" action="/posts/<%= post.id %>?_method=PATCH">
                    <textarea name="content" rows="10" cols="35"><%= post.content %></textarea>
                    <button>Done!</button>
                </form>
                <form method="post" action="/posts/<%= post.id %>?_method=DELETE" >
                        <button>Delete Post</button>
                </form>
            </div>

        </div>
    </div>
</body>
</html>